*{
    margin: 0;
}
#whole {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#header {
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    background-color: black;
    color: white;
    text-align: center;
}
.choose {
    width: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 4rem;
}
.choice {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.choice:hover {
    border: 5px solid black;
    cursor: pointer;
}
#rock {
    background-image: url('rock.png');
}
#paper {
    background-image: url('paper.png');
}
#scissors {
    background-image: url(scissors.jpg);
}
#score {
    width: 40%;
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    font-size: 2rem;
}
#user, #com {
    font-size: 4rem;
    text-align: center;
}
.msg {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: rgb(29, 64, 76);
    color: white;
    border-radius: 1rem;
    padding: 1rem;
}
.won {
    background-color: rgb(4, 181, 4);
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
}
.lost {
    background-color: rgb(255, 13, 13);
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
}
.draw {
    background-color: rgb(126, 124, 124);
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
}